@font-face{
    font-family:"JFFlatRegular";
    src:url("../fonts/JFFlatRegular.ttf");
}
:root{
    --maincolor:#7657E5;
    --button-color:#8264EE;
    --skipBtn-color:#69E4F9

}
img{
    width:100%;
}
a{
 text-decoration: none;   
}


ul{
    padding:0;
    margin:0;
}
ul li{
    list-style-type: none;
    margin-bottom:19px;
}
body{
     font-size: 16px;
    background-color: #fff;
    position: relative;
    direction: rtl;
    text-align: right;
    font-family:var(--font-family);
    color:black;
overflow-x: hidden;
}
.mainSec{
    padding-top:120px;
    padding-bottom: 35px;

}
.Title h1{
color:var(--maincolor);
font-size:2.3333333333333335em;
margin-bottom:25px;
}
.Title{
    margin-bottom:45px;
    text-align: center;
}
.Title p{
    font-size:1.6666666666666667em;
    color:#221950;
}
.video{
    height: 700px;
    position: relative;

}
.video video{
    width:100%;
}
.faq{
    padding-top:35px;
    padding-bottom: 50px;
}
.sq{
    width:20px;
    height: 20px;
    display: inline-block;
    margin-left:10px;
    background-color: #69E4F9;;
    float: right;
}
.fqaSection h5{
    display: inline-block;
    font-size:1.38em;
    color:#343A40;
    width:90%;
    float:right;

}
.faqTitle{
    margin-bottom:10px;
}
.fqaSection p{
    font-size:.89em;
    color:#74787D;
    margin-right:25px;
}
.sq.pink{
    background-color: #F582EA;;
}
.sq.blue{
    background-color: #7657E5;;
}
.videoButton{
    position: absolute;
    background-color: var(--maincolor);
    color:white;
    font-size:1.3em;
    height: 80px;
    width:250px;
    z-index: 1;
    top:48%;
    left:40%;
    border-radius: 40px;
    line-height:70px;
    text-align: right;
    overflow: hidden;
}
.videoButton:hover{
    color:white;
}
.playIcon{
    background-color:var(--button-color);
    height: 80px;
    width:80px;
    color:white;
    border-radius: 40px;
    position: absolute;
    left:0;
    top:0;
    text-align: center;
}
.playIcon i{
    line-height:80px;;
}
.skipBtn{
    float: left;
    background-color: var(--skipBtn-color);
    color:white;
    width:120px;
    height:50px;
    border-radius: 40px;;
    border:1px solid var(--skipBtn-color);
    transition: all .5s;
    font-size: 1em;
    line-height:33px;
}
.skipBtn:hover{
    background-color: transparent;
    color:var(--skipBtn-color);
    transition: all .5s;
}
.spin {
position: relative;
float: left;}

#spinner {
    animation: rotate 1.5s infinite linear;
    transform-origin: 50px 50px
}
.spin svg{
    fill:var(--skipBtn-color);
    stroke: var(--skipBtn-color);
}
.timer{
    position: absolute;
    top: 29%;
    left: 24%;
    color:var(--skipBtn-color);
    font-size:1em;
    direction: ltr;
}

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}
@media(min-width:300px) and (max-width:767px){
    .video{
        height: auto;
    }
    .videoButton{
        height: 70px;
        width: 200px;
        top: 34%;
        left: 23%;
    }
    .playIcon{
        width:70px;
        height: 70px;;
    }
    .video video{
    
        object-fit: cover;
    }
}
@media(min-width:768px) and (max-width:1024px){
    .video{
        height: auto;
    }
    .videoButton{    top: 36%;
        left: 36%;}
}